

.footer-container {
    background-color: #000;
    color: #28a745;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  
    p {
      margin: 0;
    }
  }
  