.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .show-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .show-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .show-card h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .show-card p {
    font-size: 14px;
    color: #555;
  }
  
  .show-card a {

    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
  }
  
 